
@{
    ViewBag.Title = "Chi tiết";
}

<div class="container">
    <div class="row">
        <div class="page-detail-left">
            <div class="box-menu-horizontal">
                <ul>
                    <li><a href="#">Sang quán cafe »</a></li>
                    <li><a href="#">Nhà hàng »</a></li>
                    <li><a href="#">Quán ăn »</a></li>
                    <li><a href="#">SANG QUÁN ĂN MIỆT VƯỜN BÌNH QUỚI</a></li>
                </ul>
            </div>
            <div class="Wrap-box-content">
                <div class="box-img-top-in-detail">
                    <img src="~/Content/Images/Background-4.jpg" />
                </div>
                <div class="box-img-item-in-detail">
                    <div class="item-thumb-img-in-detail">
                        <img src="~/Content/Images/hinh-anh-thien-nhien-dep-nhat-th-gioi.jpg" />
                    </div>
                    <div class="item-thumb-img-in-detail">
                        <img src="~/Content/Images/hinh-anh-thien-nhien-dep-nhat-th-gioi.jpg" />
                    </div>
                    <div class="item-thumb-img-in-detail">
                        <img src="~/Content/Images/hinh-anh-thien-nhien-dep-nhat-th-gioi.jpg" />
                    </div>
                    <div class="item-thumb-img-in-detail">
                        <img src="~/Content/Images/hinh-anh-thien-nhien-dep-nhat-th-gioi.jpg" />
                    </div>
                    <div class="item-thumb-img-in-detail">
                        <img src="~/Content/Images/hinh-anh-thien-nhien-dep-nhat-th-gioi.jpg" />
                    </div>
                    <div class="item-thumb-img-in-detail">
                        <img src="~/Content/Images/hinh-anh-thien-nhien-dep-nhat-th-gioi.jpg" />
                    </div>
                </div>
            </div>
            <div class="wrap-box-info-location">
                <div class="wrap-box-info-location-title">
                    <div class="location-title">
                        <a href="#">SANG QUÁN ĂN MẶT TIỀN ĐƯỜNG BÌNH QUỚI</a>
                        <div class="location-info-size">
                            Nhà hàng - Quán ăn - Mặt tiền: 5m2 - Chiều dài: 11 Q. Bình Thạnh-TP. HCM
                        </div>
                        <div class="location-infor-price-and-social">
                            <div class="location-infor-left-price">
                                <span>
                                    90 Triệu
                                </span>
                            </div>
                            <div class="location-infor-social">
                                <div class="location-infor-social-item">

                                </div>
                                <div class="location-infor-social-item">

                                </div>
                                <div class="location-infor-social-item">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-info-navigation">
                Bạn đang xem tin <a href="#">Sang quán cơm</a> với tiêu đề
                <a href="#">Cần sang gấp quán Cơm Tắm Minh Nhật trên đường Nguyễn Tiểu La Quận 10</a>
                trên <a href="#">sangnhuong.com.vn</a>
            </div>
            <div class="wrap-infor-contact-location">
                <span>
                    <a href="tel:01684553333">Chị Thu      01684553333</a>
                </span>
                <span>
                    Vui lòng liên hệ
                </span>
            </div>
            <div class="wrap-box-content-main">
                <div class="wrap-box-content-main-title">
                    <a href="#">Cần sang gấp quán Cơm Tắm Minh Nhật trên đường Nguyễn Tiểu La Quận 10</a>
                </div>
                <div class="wrap-box-content-main-text">
                    Do không có người quản lý nên cần sang nhượng gấp Quán cơm tắm Minh Nhật có 2 căn kinh doanh cơm. Diện tích rộng rãi, 2 lầu 1 gác lửng, chỉ kinh doanh tầng trệt, còn 2 lầu có thể cho sinh viên thuê, khu vực để xe thỏa mái.
                    Vị trí quán cực kỳ thuận lợi cho việc bán cơm, gần trường đại học, chợ, gần ngã tư, khu dân cư đông, sầm uất.
                    Quán đã kinh doanh lâu năm nên lượng khách rất đông, ổn định, trang thiết bị và đồ dùng trong quán đầy đủ. Vào chỉ việc tiếp quản và kinh doanh ngay.

                    Giá thuê mặt bằng đối với khu vực này cực rẻ, 2 căn chi 19 triệu/tháng
                    Giá sang 90 triệu ( có thương lượng, bao gồm tiền cọc)
                    Tiếp người thiện chí , miễn trung gian
                    LH: Qua số điện thoại 01684553333 ( Chị Thu)
                    0988965168
                </div>
                <div class="wrap-box-content-main-contract">
                    Hợp đồng còn hiệu lực: 2 năm
                </div>
            </div>
            <div class="box-item-relationship">
                <div class="ST-a-l-title">
                    <span>Tin cùng danh mục</span>
                </div>
                <div class="ST-a-l-arrow-down">
                    <i class="fa fa-caret-down fa-2x"></i>
                </div>
                <div class="SM-article-middle-left-content">
                    @for (int i = 0; i < 6; i++)
                    {
                    <a href="#">
                        <div class="SM-content-item-in-article">
                            <div class="SM-c-i-in-a-img-box">
                                <div class="SM-c-i-in-a-img" style="background:url('/Content/Images/item.jpg')"></div>
                            </div>
                            <div class="SM-c-i-in-a-text-box">
                                <span>
                                    Cần sang gấp quán Cơm Tắm Minh Nhật trên đường Nguyễn Tiểu La Quận 10
                                </span>
                            </div>
                            <div class="SM-c-i-in-a-box-price">
                                <b><i class="fa fa-bullhorn"></i>100 triệu</b>
                                <b><i class="fa fa-fort-awesome"></i> Quận 10</b>
                            </div>
                        </div>
                    </a>
                    }
                </div>
            </div>
        </div>
        <article class="SM-article-middle-right item-show-vip-in-detail">
            @for (int i = 0; i < 6; i++)
            {
                <a href="#">
                    <div class="item-vip-top10">
                        <div class="item-vip-top10-box-img">
                            <div class="item-vip-top10-box-img-data" style="background:url('/Content/Images/item.jpg') no-repeat">
                            </div>
                        </div>
                        <div class="item-vip-top10-box-text">
                            <span>Cần sang nhà hàng ẩm thực Bắc - đường Tú Xương, trung tâm Quận 3</span>
                        </div>
                    </div>
                </a>
            }
        </article>
    </div>
</div>
